<div class="page_wrapper mt40 mt60 mb80">
	<div class="page_inner">
		<h3 class="leadline"><span>RSVP</span></h3>
		<div class="row">
			<div class="col-lg-3">&nbsp;</div>
			<div class="col-lg-6 text-center">
				<div class="button-group cf mb10">
					<button class="button large btn-attending <%= @invitee.attending ? "active" : "" %>" value="true">Attending</button>
					<button class="button large btn-attending <%= !@invitee.attending ? "active" : "" %>" value="false">Not Attending</button>
				</div>

				<div id="attend_form" class="<%= !@invitee.attending ? "hidden" : "" %> mt40 well mb60 shadow text-left">
					<%= form_tag({action: "send_rsvp"}) do %>
						<div class="form-group">
							<%= label_tag "How many in your party?" %>
							<% @attending = @guests.length %>
							<%= select_tag(:num_attending, options_for_select([['1', 1], ['2', 2],['3', 3],['4', 4]], @attending), {prompt: "Select number of guests...", class: 'form-control'} ) %>
						</div>
						<div class="guests">
							<div class="panel panel-default guest">
							<% @guests.each_with_index do |guest,index| %>
								<div class="panel-heading">Guest <%= index + 1 %></div>
									<div class="panel-body" id="<%= guest.id %>>
										<div class="form-group">
											<label>First name</label>
											<input type="text" name="first_name" class="form-control" value="<%= guest.first_name %>" required>
										</div>
										<div class="form-group">
											<label>Last name</label>
											<input type="text" name="last_name" class="form-control" value="<%= guest.last_name %>" required>
										</div>
										<div class="form-group">
											<label>Entree Preference</label>
											<select name="menu_item" class="form-control" value="<%= guest.menu_item %>" required>
												<option value="" selected>Select an entree...</option>
												<option value="1">Meat and potatoes</option>
												<option value="2">Chicken and lasagna</option>
												<option value="3">Baked beans and stew</option>
											</select>
										</div>
										<div class="checkbox nomargin">
											<label><input type="checkbox" name="dietary" value="<%= guest.dietary %>"class="guest_dietary" data-guest="guest.id">This guest has a dietary restriction</label>
										</div>
										<div class="mt10 dietary_text hidden">
											<textarea class="form-control" rows="3" name="dietary_text" placeholder="Enter any allergies or dietary preferences you may have..."><%= guest.dietary_text %></textarea>
										</div>
									</div>
								</div>
								<% end %>
							</div>
						</div>
						<%= hidden_field_tag(:attending, @invitee.attending) %>
					 	<%= hidden_field_tag(:rsvp_code, @invitee.rsvp_code) %>
					 	<%= submit_tag "Save RSVP", class: "button primary large", id: "send_rsvp", disabled: true %>
					<% end %>
				</div>
				<div id="not_attend_form" class="hidden mt40 well mb60 shadow text-center">
					<h3 class="notmargin">Sorry to hear that :(</h3>
					<p class="text-medium mb40">Do let us know if you change your mind.</p>
					<%= form_tag({action: "send_rsvp"}) do %>
						<%= hidden_field_tag(:attending, @invitee.attending) %>
						<%= hidden_field_tag(:rsvp_code, @invitee.rsvp_code) %>
						<%= submit_tag "Save RSVP", class: "button primary large", id: "send_rsvp"%>
					<% end %>
				</div>
			</div>
			<div class="col-lg-3">&nbsp;</div>
		</div>
	</div>
</div>