
<% if (!params['rsvp_code'] || @not_found) %>
<div class="row">
	<div class="col-lg-7">
		<h2>RSVP for our wedding</h2>
		<p class="lead">Ready to RSVP? Just enter the RSVP code found on the back of your invitation.</p>
	</div>
	<div class="col-lg-4">
		<% if @not_found %>
		<div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> Code '<%= params['rsvp_code'].upcase %>' wasn't found. Did you type it right?</div>
		<% end %>
		<div class="well no-background">
				<%= form_tag({controller: "rsvp", action: "index"}, method: "get") do %>
					<div class="form-group form-group-lg">
					<%= text_field_tag(:rsvp_code, nil, :placeholder => "RSVP Code", :class => "form-control", :required => true) %>
					<span id="helpBlock" class="help-block mb20">Can't find your code? <a href="#">Click here</a></span>
					</div>
					<div class="form-group form-group-lg nomargin">
						<%= submit_tag(nil,:class => "btn btn-primary btn-lg btn-block") %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% elsif (@invitee.response == false) %>
<div class="jumbotron">
<h2 class="notmargin">
Hey <%= @invitee.name %>, thanks for replying to our invitation
<div><small>We hope you can make it! </small></div>
</h2>
</div>
<div class="row">
	<div class="col-lg-3">&nbsp;</div>
	<div class="col-lg-5">
		<div id="selection">
			<h3 class="text-center">Please select an option:</h3>
			<Br>
			<div class="text-center">
				<button class="btn btn-default btn-lg btn-attending" value="true">Attending</button>
				<button class="btn btn-default btn-lg btn-attending" value="false">Not Attending</button>
			</div>
		</div>

		<div id="attend_form" class="hidden mt40 well mb60 no-background">
			<%= form_tag({action: "send_rsvp"}) do %>
				<div class="form-group">
					<%= label_tag "How many in your party?" %>
					<%= select_tag(:num_attending, options_for_select([['1', 1], ['2', 2],['3', 3],['4', 4]]), {prompt: "Select number of guests...", class: 'form-control'} ) %>
				</div>
				<div class="guests separator hidden">
					
				</div>
			 	<br />
			 	<%= hidden_field_tag(:rsvp_code, @invitee.rsvp_code) %>
			 	<%= submit_tag "Send RSVP", class: "btn btn-primary btn-block", id: "send_rsvp", disabled: true %>
			<% end %>
		</div>
	</div>
	<div class="col-lg-3">&nbsp;</div>
</div>
<% else %>
<div class="jumbotron mb60">
	<h2 class="notmargin">
	Hey <%= @invitee.name %>, you've already responded to our RSVP
	<div><small>Do let us know if you have changed your mind</small></div>
	</h2>
</div>
<div class="row mt20">
	<div class="col-lg-12">
	<div class="text-center">
		<a href="/details" class="button btn-lg btn-default mr10" role="button">Wedding Details</a>
		<a href="/registry" class="button btn-lg btn-primary" role="button">View The Registry</a>
	</div>
	</div>
</div>
<% end %>