<div class="page_wrapper mt40 mt60 mb80">
	<div class="page_inner">
		<%= form_tag({controller: "rsvp", action: @actionName}, method: "post", id: "respondForm") do %>
		<% if @step == "2" %>
			<%= render "rsvp/step2" %>
		<% elsif @step == "3" %>
			<%= render "rsvp/step3" %>
		<% end %>
			<%= hidden_field_tag(:rsvp_code, @rsvp_code, :required => true) %>
			<%= hidden_field_tag(:attending, @attending, :required => true) %>
			<%= hidden_field_tag(:guest_count, 1, :required => true) %>
			<% if @step == "2" %>
			<%= hidden_field_tag(:step, 3, :required => true) %>
			<% end %>
		<% end %>
	</div>

</div>