
<div class="page_wrapper mt40 mb60">
	<div class="page_inner">
		<h3 class="leadline"><span>Our Story</span></h3>
		<div class="row padding">
			<blockquote>“You know you're in love when you can't fall asleep because reality is finally better than your dreams.”</blockquote>
			<p class="large">New Years Eve, December 31, 2011.  A somewhat normal New Years party started at a mutual friends house in Waterloo. Lauren and Vince didn’t know eachother at the beginning of the night but right around midnight the two would become closer. From across the room Lauren, coy and shy would get called over as the two were officially introduced. The two smiled at eachother as the ball began to drop. Vince remarked on Lauren’s glimmering sequent top and sly and sneakily would steal a kiss from her. </p>
			<p class="large">Over the ongoing weeks the two would chat back and forth with eachother on Facebook. As the messages became longer and longer they would soon set their official first date.  In Hamilton on January 14th, 2012, while Lauren was staying with friends Vince picked up Lauren and they went for a formal dinner at the restaurant Ten Ten. The two hit it off and would schedule a another date the following week. From then on the two have shared many memories with eachother, Vince having now seen all of the Harry Potter movies and Lauren now having experienced what summers are like when racing is on TV would get engaged Christmas Eve 2015. </p>

			<div class="storyline">
				<div class="date-line left start">
					<div class="date">2012</div>
					<div class="line"></div>
				</div>
				<!-- Event -->
				<div class="story-event left row middle-xs">
					<div class="col-sm-4 photo">
						<%= image_tag("story-1.png", width: "265") %>
					</div>
					<div class="col-sm-8 details">
						<h3>The Valentine's Day</h3>
						<p class="large">Vince and Lauren together with friends sharing their first Valentine's day in 2012.  </p>
					</div>
				</div>
				<!-- /Event -->
				<div class="date-line nodate right">
					<div class="line"></div>
				</div>
				<!-- Event -->
				<div class="story-event right row middle-xs">
					<div class="col-sm-8 details">
						<h3>The Halloween</h3>
						<p class="large">Vince and Lauren sharing their first Halloween party together in Waterloo in 2012.  </p>
					</div>
					<div class="col-sm-4 photo">
						<%= image_tag("story-2.png", width: "265") %>
					</div>
				</div>
				<!-- /Event -->
				<div class="date-line left">
					<div class="date">2014</div>
					<div class="line"></div>
				</div>
				<!-- Event -->
				<div class="story-event left row middle-xs">
					<div class="col-sm-4 photo">
						<%= image_tag("story-3.png", width: "265") %>
					</div>
					<div class="col-sm-8 details">
						<h3>The First Big Trip</h3>
						<p class="large">In February of 2014, Lauren convinces Vince to go on a vacation and the two go on a Cruise to the Bahamas. Vince’s first cruise which has now got him hooked.</p>
					</div>
				</div>
				<!-- /Event -->
				<div class="date-line nodate right">
					<div class="line"></div>
				</div>
				<!-- Event -->
				<div class="story-event right row middle-xs">
					<div class="col-sm-8 details">
						<h3>The Paint Nite</h3>
						<p class="large">April 2014, Vince and Lauren go out and explore their creative sides with painting. Vince's obviously the better of the two.</p>
					</div>
					<div class="col-sm-4 photo">
						<%= image_tag("story-4.png", width: "265") %>
					</div>
				</div>
				<!-- /Event -->
				<div class="date-line left">
					<div class="date">2015</div>
					<div class="line"></div>
				</div>
				<!-- Event -->
				<div class="story-event left row middle-xs">
					<div class="col-sm-4 photo">
						<%= image_tag("story-5.png", width: "265") %>
					</div>
					<div class="col-sm-8 details">
						<h3>The Hogwarts</h3>
						<p class="large">March 2015 and the Lauren drags Vince to Florida to realize a dream of visiting Hogwarts at Universal Studios.</p>
					</div>
				</div>
				<!-- /Event -->
				<div class="date-line nodate right">
					<div class="line"></div>
				</div>
				<!-- Event -->
				<div class="story-event right row middle-xs">
					<div class="col-sm-8 details">
						<h3>The Long Point Adventure</h3>
						<p class="large">Lauren and Vince pose for a photo while doing ziplining in Long Point, Turkey Point in September 2015.</p>
					</div>
					<div class="col-sm-4 photo">
						<%= image_tag("story-6.png", width: "265") %>
					</div>
				</div>
				<!-- /Event -->
				<div class="date-line nodate left">
					<div class="line"></div>
				</div>
				<!-- Event -->
				<div class="story-event left row middle-xs">
					<div class="col-sm-4 photo">
						<%= image_tag("story-7.png", width: "265") %>
					</div>
					<div class="col-sm-8 details">
						<h3>The House Purchase</h3>
						<p class="large">The couple posing after making their first big step together in purchasing their first home in Dundas, Ontario.</p>
					</div>
				</div>
				<!-- /Event -->
				<div class="date-line nodate right">
					<div class="line"></div>
				</div>
				<!-- Event -->
				<div class="story-event right row middle-xs">
					<div class="col-sm-8 details">
						<h3>The Engagement</h3>
						<p class="large">Christmas Eve 2015 and Vince hinted at Lauren to open her ‘big’ gift. Sitting inside a 10 times the oversized box was the ring but she had to work for it. As she went through 3 other boxes she finally found the ring box at the bottom with a note.</p>
					</div>
					<div class="col-sm-4 photo">
						<%= image_tag("story-9.png", width: "265") %>
					</div>
				</div>
				<!-- /Event -->
				<!-- /Event -->
				<div class="date-line left">
					<div class="date">2016</div>
					<div class="line"></div>
				</div>
				<!-- Event -->
				<div class="story-event left row middle-xs">
					<div class="col-sm-4 photo">
						<%= image_tag("story-8.png", width: "265") %>
					</div>
					<div class="col-sm-8 details">
						<h3>The Hike</h3>
						<p class="large">Lauren and Vince enjoying a beautiful summer day hiking in Dundas, Ontario to the peak.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>